# See https://help.github.com/ignore-files/ for more about ignoring files.

# project file
/.idea

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# config file
config.json
config.dev.json
config.production.json
